@using Service.IService
@inject NavigationManager Navigation
@inject IUserService _userService
@inherits LayoutComponentBase
<RadzenDialog />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           
            <button @onclick="HandleLogout">Logout</button>

            <a href="https://www.facebook.com/AdvancedInstituteOfTechnology26/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task HandleLogout()
    {
        try
        {
            // await _userService.LogoutAsync();
            
            Navigation.NavigateTo("/", true);
        }
        catch
        {
            Navigation.NavigateTo("/", true);
        }
    }
}