@* <div class="sidebar-header">
    AIT Inventory
</div> *@

<nav class="menu">
    <NavLink href="home" class="menu-item">
        <i class="bi bi-house-door-fill"></i>
        <span class="menu-text">Home</span>
    </NavLink>

    <NavLink href="Order" class="menu-item">
        <i class="bi bi-cash-stack"></i>
        <span class="menu-text">Order</span>
    </NavLink>

    <NavLink href="Transaction" class="menu-item">
        <i class="bi bi-receipt"></i>
        <span class="menu-text">Transaction</span>
    </NavLink>

    <NavLink href="Product" class="menu-item">
        <i class="bi bi-box"></i> <span class="menu-text">Product</span>
    </NavLink>

    <NavLink href="Client" class="menu-item">
        <i class="bi bi-people"></i> <span class="menu-text">Client</span>
    </NavLink>

    <NavLink href="Stock" class="menu-item">
        <i class="bi bi-stack"></i> <span class="menu-text">Stock</span>
    </NavLink>

    <NavLink href="Category" class="menu-item">
        <i class="bi bi-tags"></i> <span class="menu-text">Category</span>
    </NavLink>
</nav>
@code {
}
