@using Common.Models
@using Common.Models.RequestModel
@using Service.IService
@inject IStockService _stockService
@inject DialogService DialogService
<RadzenTemplateForm TItem="AddEditVendorStockRequestModel" Data="@Stock" Submit="@OnSubmit">
    <ChildContent>
        <RadzenFieldset Text="Stock Information" Style="padding:20px; border-radius:8px; background-color:#f9f9f9;">
            
            @if (Products != null && Products.Count > 0)
            {
                <RadzenLabel Text="Products" Style="font-weight:600; color:#444;" />
                <RadzenDropDown Data="@Products"
                                TextProperty="Name"
                                ValueProperty="Id"
                                @bind-Value="Stock.ProductId"
                                Style="width:100%; margin-bottom:15px;"
                                Name="ProductId"
                                Placeholder="Choose a Product"
                                AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
            }

            <RadzenLabel Text="Quantity" Style="font-weight:600; color:#444;" />
            <RadzenNumeric @bind-Value="Stock.Quantity" Name="Quantity" Style="width:100%; margin-bottom:15px;" />

            <RadzenLabel Text="Total Purchase Price" Style="font-weight:600; color:#444;" />
            <RadzenNumeric @bind-Value="Stock.TotalPurchasePrice" Name="TotalPurchasePrice" Style="width:100%; margin-bottom:15px;" />

            <RadzenNumeric @bind-Value="Stock.StockNumber" Name="StockNumber" hidden />

            <div class="form-group d-flex align-items-center mb-3" style="margin-top:10px;">
                <RadzenCheckBox @bind-Value="Stock.IsActive" Name="IsActive"
                                Style="margin-right:8px; width:20px; height:20px;" />
                <label class="form-label" style="font-weight:500; color:#333;">
                    Active Stock
                </label>
            </div>

            <div style="margin-top:20px; display:flex; justify-content:flex-end;">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="Save" Icon="save" Type="Submit" Style="margin-right:10px;" />
                <RadzenButton Text="Cancel" Icon="close" ButtonStyle="ButtonStyle.Secondary" Click="@OnCancel" />
            </div>
        </RadzenFieldset>
    </ChildContent>
</RadzenTemplateForm>



@code {
    [Parameter] public AddEditVendorStockRequestModel Stock { get; set; }
    [Parameter] public List<ProductModel> Products { get; set; }

    
    private async Task OnSubmit(AddEditVendorStockRequestModel model)
    {
        var result = await _stockService.AddEditVendorStockAsync(model);
        if (result.Success)
        {
            DialogService.Close(true); // close popup
        }
        else
        {
            await DialogService.Alert($"{result.Message} : {string.Join(",", result.Errors)}", "Error");
        }
    }

    private void OnCancel()
    {
        DialogService.Close(false);
    }
}
