@using Common.Models
@code {
    [Parameter] public ClientModel Client { get; set; }
}

<div class="p-4">
    @* <h3 style="margin-bottom:15px; color:#2c3e50;">Client Details</h3> *@
    <table style="width:100%; border-collapse:collapse; font-family:Arial, sans-serif; font-size:14px; border:medium">
        @foreach (var prop in typeof(ClientModel).GetProperties())
        {
            <tr>
                <td style="width:30%; font-weight:bold; padding:10px; text-align:right; background-color:#f7f7f7; border-bottom:1px solid #ddd;">
                    @prop.Name
                </td>
                <td style="width:70%; padding:10px; text-align:left; border-bottom:1px solid #ddd;">
                    @(prop.GetValue(Client) ?? "")
                </td>
            </tr>
        }
    </table>
</div>